body {
    background-color: rgb(71, 11, 238);
    color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: black;
    color: aqua;
}