body {
    background-color: rgb(71, 11, 238);
    color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: black;
    color: aqua;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 60%;
}

img {
    max-width: 50%;
}